.title {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border: 1px solid #CCC;
  border-radius: 10px;
  background-color: #DED;
  color: lightseagreen; /* Antes: #097890; */
  box-shadow: 7px 7px 3px rgb(0 0 0 / 50%);
  font-family: cursive;
}

.panel-container {
  border: 1px solid #DDD;
  border-radius: 25px;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 7px 7px 3px rgb(0 0 0 / 50%);
}

.panel-container.small {
  width: 600px;
}

.panel-container.medium {
  width: 900px;
}

.panel-container.large {
  width: 1200px;
}


.form-control, .form-select, .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}